<div class="heart"></div>

<style>
.heart
{
    height: 50px;
    width: 50px;
    position: relative;
    border:solid 1px black;
}

.heart::before
{
    content:'';
    position: absolute;
    height: 70%; width: 45%;
    background-color: none;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: rotate(45deg);
    right: 9px; top:5px;
    border: solid 1px blue;
    border-bottom:none;
    border-left:none;
}

.heart::after
{
    content:'';
    position: absolute;
    height: 70%; width: 45%;
    background-color: none;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: rotate(-45deg);
    left: 9px; top:5px;
    border:solid 1px blue;
    border-right:none;
    border-bottom: none;
}
</style>