<html>
    <head>
        <title>BitA Studio</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <script src="script.js" type="text/javascript"></script>
    </head>

    <body>
        <div class="container">
            <div class="navbar">
                <span class="navbar-option brand">BitA Studio</span>
                <span class="navbar-option navoption">Home</span>
                <span class="navbar-option navoption">Category</span>
                <span class="navbar-option navoption">About</span>
            </div>

            <div class="banner">
                <div class="brand-name-animated">
                    <br>
                    <div class="banner-label">
                        <label class="loading-tubelight L">L</label>
                        <label class="loading-tubelight O">O</label>
                        <label class="loading-tubelight A">A</label>
                        <label class="loading-tubelight D">D</label>
                        <label class="loading-tubelight I">I</label>
                        <label class="loading-tubelight N">N</label>
                        <label class="loading-tubelight G">G</label>
                    </div>
                    <br>
                    <div class="subheading">Find the best customized icons, animations<br> and web designs for your web front end</div>

                    <br><br>
                    <div class="random-item-container">
                        <div class="center-div">
                            <div class="item-frame">
                                <div class="item">

                                </div>  
                                <div class="item-label">icons</div>
                            </div>

                            <div class="item-frame">
                                <div class="item">
                                    
                                </div>
                                <div class="item-label">loaders</div>
                            </div>

                            <div class="item-frame">
                                <div class="item"></div>
                                <div class="item-label">flex</div>
                            </div>

                            <div class="item-frame">
                                <div class="item"></div>
                                <div class="item-label">designs</div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </body>

</html>