<html>
    <title>HTML Loaders</title>
    <body>
    <center>
        <a href='3rings.html'>3rings</a> <br>
        <a href='4color1circleRotate.html'>4colorCircle</a><br>
        <a href='atom.html'>atom</a><br>
        <a href='clock.html'>clock</a><br>
        <a href='infintyDots.html'>infintyDots(new)</a><br>
        <a href='leftRightProgressBar.html'>leftRightProgressBar</a><br>
        <a href='oldAndroidLikeLoader.html'>oldAndroidLikeLoader</a><br>
        <a href='rgbySquare.html'>rgbySquare(new)</a><br>
        <a href=''></a>
    </center>
    </body>
</html>

<style>
a
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:green;
    text-decoration: none;
    background-color: azure;
}

a:hover
{
    background-color: green;
    color: white;
}

</style>