<html>
    <link href="radio-2-styles.css" type="text/css" rel="stylesheet" />
    <body>

        <div class="radio-2-container">
            Select your age year group: <br><br>
            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Male" class="gender-radio" /><span class="radio-mark"></span> 10-15
            </label>

            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Female" class="gender-radio" /><span class="radio-mark"></span> 15-20
            </label>

            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Male" class="gender-radio" /><span class="radio-mark"></span> 20-30
            </label>
        </div>

    </body>
</html>