<html>
    <link href="radio-1-styles.css" type="text/css" rel="stylesheet" />
    <body>

        <div class="radio-1-container">
            Select a package... <br><br>
            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Male" class="gender-radio" /><span class="radio-mark"></span> Only burger 
            </label>

            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Female" class="gender-radio" /><span class="radio-mark"></span> Burger with Fries
            </label>

            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Male" class="gender-radio" /><span class="radio-mark"></span> Full Meal <i>(Burger + Fries + 200 mL Coke)</i>
            </label>
        </div>

    </body>
</html>