<html>
    <link href="radio-3-styles.css" type="text/css" rel="stylesheet" />
    <body>

        <div class="radio-3-container">
            CSS is: <br><br>
            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Male" class="gender-radio" /><span class="radio-mark"></span> Good 
            </label>

            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Female" class="gender-radio" /><span class="radio-mark"></span> Very Good
            </label>

            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Male" class="gender-radio" /><span class="radio-mark"></span> Excellent
            </label>
        </div>

    </body>
</html>