<html>
    <link href="radio-5-styles.css" type="text/css" rel="stylesheet" />
    <body>

        <div class="radio-5-container">
            The Graphic Brand you trust<br><br>
            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Male" class="gender-radio" /><span class="radio-mark"></span> NVIDIA
                <span class="radio-mark-2"></span>
            </label>

            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Female" class="gender-radio" /><span class="radio-mark"></span> ATI Radeon
                <span class="radio-mark-2"></span>
            </label>

            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Male" class="gender-radio" /><span class="radio-mark"></span> Adreno Cortex
                <span class="radio-mark-2"></span>
            </label>
        </div>

    </body>
</html>