<html>
    <link href="radio-4-styles.css" type="text/css" rel="stylesheet" />
    <body>

        <div class="radio-4-container">
            Select your house: <br><br>
            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Male" class="gender-radio" /><span class="radio-mark"></span> Targaryan
            </label>

            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Female" class="gender-radio" /><span class="radio-mark"></span> Stark
            </label>

            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Male" class="gender-radio" /><span class="radio-mark"></span> Lannister
            </label>

            <label class="radio-label d-block">
                <input type="radio" name="gender" value="Male" class="gender-radio" /><span class="radio-mark"></span> Greyjoy
            </label>
        </div>

    </body>
</html>