<div class="row mydiv bg-lite">
    <div class="col-12 text-primary">
        <h1>Store and Retrieve Speeches</h1>
    </div>
    <div class="col-3">
        <input type="text" class="form form-control" placeholder="Search..." (keydown)="searchIt()" #searchedWord />
        <table class="table table-striped">
            <tr *ngFor="let match of matches; let i = index" class="hilight" [ngClass]="{'hilitebg': i===currentIndex}">
                <td (click)="currentIndex = i" [routerLink]="['./viewSpeech']" [queryParams]="{ index: i }">
                <label>{{match.title}}</label>
                <label class="text-secondary font-italic">&nbsp; -{{ match.author }}</label>
                <label class="text-secondary d-block" *ngIf="beingSeached">in category <strong>{{ match?.searchby }}</strong></label>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col-12">
                <a [routerLink]="['./addSpeech']">Add a Speech</a>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>